version: '3'
services:
  btc-regtest:
    container_name: btc-regtest
    build:                                                                                                                                                                                                                                  
      context: .                                                                                                                                                                                                                            
      dockerfile: Dockerfile                                                                                                                                                                                                                
    restart: always
    expose:
      - "8333"
      - "28333"
      - "28332"
      - "18333"
      - "18443"
      - "18332"
      - "18532"
    ports:
      - "8333:8333"
      - "28333:28333"
      - "28332:28332"
      - "18333:18333"
      - "18332:18443"
      - "18443:18443"
    volumes:                                                                                                                                                                                                                                
      - ./my_entry_point.sh:/my_entry_point.sh
      - ./bitcoin.conf:/home/bitcoin/.bitcoin/bitcoin.conf

  fulcrum-regtest:
    build: ./fulcrum
    container_name: fulcrum-regtest
    depends_on:
      - btc-regtest
    ports:
      - 50001:50001
      - 50002:50002
    restart: always
    stop_grace_period: 10s

  web:
    environment:
      FRONTEND_HTTP_PORT: "8080"
      BACKEND_MAINNET_HTTP_HOST: "api"
    image: mempool/frontend:latest
    depends_on:
      - api
    container_name: web
    user: "1000:1000"
    restart: always
    stop_grace_period: 10s
    command: "./wait-for db:3306 --timeout=720 -- nginx -g 'daemon off;'"
    ports:
      - 1080:8080

  api:
    environment:
      MEMPOOL_BACKEND: "electrum"
      ELECTRUM_HOST: "fulcrum-regtest"
      ELECTRUM_PORT: "50001"
      ELECTRUM_TLS_ENABLED: "false"
      CORE_RPC_HOST: "btc-regtest"
      CORE_RPC_PORT: "18443"
      CORE_RPC_USERNAME: "test"
      CORE_RPC_PASSWORD: "test321"
      DATABASE_ENABLED: "true"
      DATABASE_HOST: "db"
      DATABASE_DATABASE: "mempool"
      DATABASE_USERNAME: "mempool"
      DATABASE_PASSWORD: "mempool"
      STATISTICS_ENABLED: "true"
    image: mempool/backend:latest
    depends_on:
      - db
    container_name: api
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 5s
    command: "./wait-for-it.sh db:3306 --timeout=720 --strict -- ./start.sh"
    volumes:
      - .datapi/:/backend/cache

  db:
    environment:
      MYSQL_DATABASE: "mempool"
      MYSQL_USER: "mempool"
      MYSQL_PASSWORD: "mempool"
      MYSQL_ROOT_PASSWORD: "admin"
    image: mariadb:10.5.8
    depends_on:
      - fulcrum-regtest
    container_name: db
    restart: always
    stop_grace_period: 10s
